{% extends "recipe_site/base.html" %}
{% load static %}
{% block content %}

    {% block scripts %}
        {{ block.super }}
    {% endblock %}




    {#--------------------------------------ROW2-------------------------------------------------------------------------#}
    <main role="main" class="container-fluid">

        <div class="row-fluid">
            {#--------------------------------------ROW 2 COLUMN 1 > INGREDIENTS FOR LOOP-------------------------------------------------------------------------#}
            <div class="col-md-3" id="column1">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {#        search button for recipes, need to add an onclick so that the DisplayObjects get deleted when its clicked#}
                {#        <button onclick="location.href='{% url 'test' %}'" name="mybtn" type="submit" class="btn btn-primary">Search</button>#}

                <form action="{% url 'test' %}" method="get">
                    <input type="submit" class="btn btn-primary" name="mybtn">
                </form>

                {#        {% if post_search is True %}#}
                {#                        <button type="submit" class="btn test-button">Column test open</button>#}
                {#        {% endif %}#}
                {% for fg in groups %}

                    <article class="media-left content-section">
                        <div class="media-body">

                            <div class="article-metadata">
                                <h2 class="ingredients-header">{{ fg }}</h2>
                                <span class="arrow triangle_down ml-auto"></span>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <div class="form-inline" id="{{ fg.pk }}">

                                    {% for individual_ingredient in fg.ing.all %}

                                        <button id="{{ individual_ingredient.pk }}" class="empty select-button-gray"
                                                value="{{ individual_ingredient.food_name }}">{{ individual_ingredient.food_name }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>

                {% endfor %}
                {#            {% block content %}{% endblock %}#}

            </div>
            {#--------------------------------------ROW 2 COLUMN 2-------------------------------------------------------------------------#}
            <div class="col-md-9" id="column2">
                {#--------------------------------------ROW 2.1-------------------------------------------------------------------------#}
                {#--------------------------------------ROW 2.2 COLUMN 1-------------------------------------------------------------------------#}

                <div class="row">
                    {% for recipe in recipes %}
                        {#                        #}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="{{ recipe.image }}" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{{ recipe.link }}">{{ recipe.title }}</a>
                                    </h4>
                                        <button class="btn btn-primary collapsed" type="button" value="{{ forloop.counter0 }}"
                                                data-bs-toggle="collapse" data-bs-target="#test{{ forloop.counter0 }}"
                                                aria-expanded="false"  aria-controls="test{{ forloop.counter0 }}">Collapsible</button>

                                        <div id="test{{ forloop.counter0 }}" class="collapse">
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


    </main>
{% endblock %}



   {#                                {% for x in recipe.nutrition.ingredients  %}#}
                                    {#                                <p class="card-text">{{ x.amount }} {{ x.unit }} of {{ x.name }}</p>#}
                                    {#                                {% endfor %}#}
                                    {#                                <hr>#}
                                    {#                                {% for x in recipe.missedIngredients %}#}
                                    {#                                <p class="card-text">{{ x.amount }} {{ x.unit }} of {{ x.name }}</p>#}
                                    {#                                {% endfor %}#}