{% extends "recipe_site/base.html" %}
{% load static %}
{% block content %}

    {% block scripts %}
        {{ block.super }}
    {% endblock %}




    {#--------------------------------------ROW2-------------------------------------------------------------------------#}
    <main role="main" class="container-fluid">
        <div class="row-fluid">

            <div class="col-md-3" id="column1">
                <div class="row">
{#                SEARCH BAR#}
                    <div class="input-group">
                        <input id="search-bar" type="search" class="form-control rounded" list="foodlist" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon"/>
                        <datalist id="foodlist">
                            {% for ingredient in ingredients %}
                            <option value="{{ ingredient.food_name }}">
                            {% endfor %}
                        </datalist>
                        <button type="button" class="show-more-button search-button">add ingredient</button>
                    </div>
                </div>

                {#                {% if messages %}#}
                {#                    {% for message in messages %}#}
                {#                        <div class="alert alert-{{ message.tags }}">#}
                {#                            {{ message }}#}
                {#                        </div>#}
                {#                    {% endfor %}#}
                {#                {% endif %}#}


                                <form action="{% url 'test' %}" method="get">
                                    <input type="submit" class="btn btn-primary" name="mybtn">
                                </form>


                {% for fg in groups %}

                    <article class="media-left content-section">
                        <div class="media-body">

                            <div class="article-metadata">
                                <h2 class="ingredients-header">{{ fg }}</h2>
                                <span class="triangle-position arrow triangle_down ml-auto"></span>
                            </div>
                            <div class="col-md-10 offset-md-1">
                                <div class="form-inline" id="{{ fg.pk }}">

                                    {% for individual_ingredient in fg.ing.all %}

                                        <button id="{{ individual_ingredient.pk }}"
                                                class="empty select-button-gray"
                                                value="{{ individual_ingredient.food_name }}">{{ individual_ingredient.food_name }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>

                {% endfor %}


            </div>
            <div class="col-md-9" id="column2">

                <div class="row row-cols-4">
                    {% for recipe in recipes %}
 {#-------------------------------------RECIPE CARD--------------------------------------------------------------------------#}

                    <div class="col">
                        <div class="card" style="margin-bottom:30px">
                            <a href="#"><img class="card-img-top" src="{{ recipe.image }}" alt=""></a>

                            <div class="card-body">
                                {#                                    favorite button#}
                                <a title="Add recipe to favorites" id="recipe id test" class="card-action toggle-favorite-color card-color1 favorite"
                                   href="#"><i
                                        class="fa fa-heart"></i></a>
                                <div class=" class-heading">
                                    {{ recipe.title }}
                                    <hr>
                                    {#                                        add the preparation time and serving size here#}
                                    <i class="far fa-clock icons">{{ recipe.readyInMinutes }} minutes</i>
                                    <i class="fa fa-users icons"> Serves {{ recipe.servings }}</i>
                                    <i class="fa fa-book icons"> {{ recipe.usedIngredientCount|add:recipe.missedIngredientCount }} ingredients</i>
                                </div>

                                <div id="card{{ forloop.counter0 }}" class="collapse">

                                    <h4 class="ingredients-header-card">Ingredients ({{ recipe.missedIngredientCount }} missing)</h4>

                                    <span class="arrow triangle_down triangle-card" role="button" href=""></span>
{#-------------------------------------LIST OF INGREDIENTS IN CARD--------------------------------------------------------------------------#}
                                <ul class="list-group">
                                    <div></div>
                                    {% for x in recipe.nutrition.ingredients  %}
                                        <li class="ingredients-list">{{ x.amount }} {{ x.unit }} of {{ x.name }}
                                            <span style="color: #699834;">
                                                <i class="fas fa-check-square"></i>
                                            </span>
                                        </li>
                                {% endfor %}

                                {% for x in recipe.missedIngredients %}
                                 <li class="ingredients-list">{{ x.amount }} {{ x.unit }} of {{ x.name }}
                                            <span style="color: #ff0000;">
                                                <i class="fas fa-times"></i>
                                            </span>
                                        </li>
                                {% endfor %}
                                </ul>
                                </div>
{#                            ----------------------BUTTON THAT COLLAPSES ENTIRE CARDS--------------------------------------------------#}
                                <button onclick="toggleText()" id="card-button" class="card-button" type="button" value="{{ forloop.counter0 }}"
                                        data-bs-toggle="collapse" data-bs-target="#card{{ forloop.counter0 }}"
                                        aria-expanded="false" aria-controls="card{{ forloop.counter0 }}">Show full recipe
                                </button>

                            </div>
                        </div>
                    </div>
                                        {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}



{#                                {% for x in recipe.nutrition.ingredients  %}#}
{#                                <p class="card-text">{{ x.amount }} {{ x.unit }} of {{ x.name }}</p>#}
{#                                {% endfor %}#}
{#                                <hr>#}
{#                                {% for x in recipe.missedIngredients %}#}
{#                                <p class="card-text">{{ x.amount }} {{ x.unit }} of {{ x.name }}</p>#}
{#                                {% endfor %}#}